@use  './partials/_variables.scss' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bootstrap/scss/bootstrap.scss";

h1{
    color: $text-color;
}
main{
    
}
header {
    .navbar-nav .nav-link.active {
        font-weight: bold;
        color: $text-color;
    }
}
footer{
}
