@use  './partials/_variables.scss' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bootstrap/scss/bootstrap.scss";


main{
    background-image: url(/resources/img/netflix-bg.jpg);
    h2{
        color: $savoy-blue;
    }
    
}
header {
    background-color: $glaucous;
    .navbar-nav .nav-link.active {
        font-weight: bold;
        color: $mint-green;
    }
}
footer{
    background-color: $glaucous;
    height: 100px;
}
